body{
    background-image: url(music.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    width:85%;
    margin:auto;
    padding:35px;
    align-items: center;
    justify-content: space-between;
    display:flex;
    cursor: pointer;
}
.song{
    width: 100px;
    cursor:pointer;
}
.navbar ul li{
     
    list-style: none;
    margin:0 10px;
    display: inline-block;
    color: black;
    text-decoration: dotted;
    font-weight:200;
    
}
.content{
    width:100%;
    position: absolute;
    top:50%;
    text-align: center;
   transform: translateY(-50%);
    color: black;

}
.content h1{
    font-size:100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.content p{
    font-weight:500;
}
.but{
    width: 130px;
    height: 60px;
      color: white;
      background-color: rgb(250, 96, 39);
      border-color: rgb(235, 94, 42);
      border-radius: 60%;
  }
  .but:hover{
      color: black;
      background-color: azure;
  }